.card {
    border: none;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}

.card h1 {
    font-size: 48px;
    margin: 0;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.divider {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}